<ion-list>
  <ion-item *ngFor="let item of index" lines="none">
    <ion-thumbnail slot="start">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-thumbnail>
    <ion-label>
      <h4>
        <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      </h4>
      <p>
        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      </p>
      <p>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </p>
    </ion-label>
  </ion-item>
</ion-list>
