ion-header {
  ion-icon {
    font-size: 1rem;
  }
}

ion-label {
  h4 {
    font-size: 1.2rem;
    font-weight: bold !important;
  }
  p {
    font-size: 0.7rem;
  }
}

.p-style {
  padding-bottom: 0.5vh;
  font-size: 0.8rem !important;
}

.distance {
  font-size: 0.8rem;
  padding-top: 0.2vh;
}
