h1 {
  font-weight: bold;
  font-size: 1.2rem;
}

ion-list-header {
  font-weight: bold;
  font-size: 1rem;
}

ion-footer {
  h4,
  p {
    margin-left: 3%;
  }

  p {
    font-size: 0.6rem !important;
    letter-spacing: 0.5px;
  }
}

ion-item {
  ion-thumbnail {
    height: 10vh;
    width: 20vw;
    img {
      border-radius: 5px;
      height: 100%;
      width: 100%;
    }
  }

  ion-row {
    border: 1px solid var(--ion-color-medium);
    border-radius: 5px;
    padding: 0.3rem;
  }
}

.dashed-border-bottom {
  border-bottom: 1px dashed var(--ion-color-medium);
  padding-bottom: 1vh;
  margin-bottom: 1vh;
}

.toggle {
  align-items: center;
}

.quantity {
  width: 2rem;
}
