ion-img {
  border-radius: 5px;
}

ion-list {
  ion-row {
    border: 1px solid var(--ion-color-medium);
    border-radius: 5px;
    padding: 0.3rem;
  }
}

.quantity {
  width: 2rem;
}

.price {
  width: 3.5rem;
  text-align: center;
}
